/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* NEW CSS */

.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.navbar{
  border: none;
}

/* .navbar-default{
  height: 3px;

} */

.content-wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 1rem;
}

* {
  box-sizing: border-box;
}

body{
  /* background-color: #212121; */
  background-color: white;

  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #b1b1b1;
  text-align: center;
}
